
body {
    font-family: sans-serif;
    text-align: justify;
    max-width: 1024px;
    font-size: small;
    margin: 8px auto 8px;
}

@media only screen and (max-width: 600px) {
    #logo {
        display: none;
    }
}

#maincontent {
    text-align: center;
    max-width: 1024px;
    margin: 16px auto 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


#allsubdomains {
    width: 600px;
}

#menu_bar, .subMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu_bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    align-items: baseline;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}


#menu_bar li {
    margin-left: 6px;
    margin-right: 8px;
}


.subMenu {
    display: none;
    background: rgba(255, 255, 255, 0.8);
    border-left: 1px solid #808080;
    z-index: 1;
    position: absolute;
}

.subMenuTitle:hover .subMenu {
    display: block;
}

#usericon {
    margin-right: 4px;
}

#menu_bar a {
    text-decoration: none;
}

#menu_bar a:hover, a:active {
    color: #000;
}

#menu_bar a {
    color: #666;
}


#release {
    margin-top: 32px;
    align-self: flex-end;
    text-align: right;
    font-size: 9px;
}

h2 {
    color: #555;
    font-variant: small-caps;
}

#bgbanner {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 29px;
    width: 100%;
    background: url('/bgbanner.png');
}

#banner {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    background: url("/banner.jpg") no-repeat left top;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

#loginbtn {
    font-size: 16px;
}

.button_inline .button {
    margin: 0 8px 0 0;
}

button {
    margin: 0 4px;
}

.centerItem {
    align-self: center;
}

.centerCell {
    text-align: center;
}

.section h3 {
    font-size: 14px;
    line-height: 20px;
    background-color: #f0f0f0;
    padding: 4px;
    border-color: gray;
    color: #808080;
    display: flex;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
}

#subdevices {
    width: 100%;
    text-align: left;
}

#subdevices td, #subdevices th {
    padding: 4px;
}


td {
    vertical-align: top;
}

.settingsTable {
    text-align: left;
    vertical-align: top;
    align-self: stretch;
    margin: 8px auto 8px;
    width: 600px;
}

.settingsName, .settingsValue {
    padding: 4px;
}

.settingsName {
    font-weight: bold;
}

#addFields input {
    margin-left: 0;
}

#cbpass {
    margin-right: 4px;
}

#editCBaction {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
}

.editCBSection {
    text-align: justify;
    margin-top: 32px;
}

.editCBDescr {
    text-align: justify;
    margin: 8px 32px;
}

.editCBTest {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.editCBTest iframe {
    margin: 4px 0;
}

.dangerousButton {
    color: #8b0000;
    font-weight: bold;
    padding: 1px 4px 2px 4px;
    border: 1px solid gray;
    border-radius: 4px;
    background: #eee;
    font-size: 12px;
}

.dangerousButton:disabled,
.dangerousButton[disabled] {
    color: #8a6767;
}

h3.dangerous {
    color: #8b0000;
    font-weight: bold;

}


.button {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 1px 4px 2px 4px;
    border: 1px solid gray;
    border-radius: 4px;
    background: #eee;
    font-size: 12px;
}

.button:disabled,
.button[disabled] {
    color: gray;
}

#loginPanel {
    text-align: center;
    display: inline-block;
}

#remoteDiv {
    position: relative;
    height: 600px;
    width: 100%;
}

#remoteFrame{
    border: 1px solid gray;
    border-radius: 4px;
    height: 100%;
    width: 100%;
}

#fullScreen {
    position: absolute;
    top:4px;
    right: 4px;
}