doctype html
head
    include style
body
    include banner.pug
    div#maincontent
        form(method='POST' name='loginForm' action='/login')
            script.
                function formInput(name)
                {
                    return window.document.forms["loginForm"][name];
                }
                function formSubmit()
                {
                    window.document.forms["loginForm"].submit();
                    return false;
                }
            div(id='loginPanel')
                script.
                    function hookSubmit(evt)
                    {
                        evt = evt || window.event;
                        var charCode = evt.which || evt.keyCode;
                        if (charCode === 13) {
                            formSubmit();
                            return false;
                        }
                        return true;
                    }
                h2#loginTitle Login Required
                table
                    tr
                        td
                            label(for='username') Username:
                        td
                            input#username.form-control(name='username')
                    tr
                        td
                            label(for='pw') Password:
                        td
                            input#pw.form-control(type='password' name='password')

                button#loginbtn(type='submit' onclick='formSubmit()') Login
            script.
                window.document.forms["loginForm"]['username'].focus();
        include footer.pug
