ul#menu_bar
    li
        a(href='/' ) Home
    li.subMenuTitle
        a.subMenuBtn#user(href='#')
            img#usericon(src="/user.png")
            |#{USER.username}
        ul.subMenu
            li
                a(href='/logout') logout
