link(rel='stylesheet', href='/style.css')
style.
    table.border {
        border-collapse: collapse;
    }

    table.border th {
        border: 1px solid black;
        padding: 4px 0 4px 0;
        background-color: #eee;
    }

    table.border td {
        border: 1px solid black;
        padding: 4px 0 4px 0;
    }

